version: '3.3'

networks:
  network1:
    external: true

services:
  main:
    container_name: messanger-front
    restart: always
    build: .
    ports:
      - "3000:3000"
    command:
      npm start
    network_mode: host